* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    direction: rtl;
    display: flex;
}

#container-img .project-6 {
    position: absolute;
    top: 138px;
    left: 1219px;
    width: 535px;
    height: 804px;
    background: transparent 0% 0% no-repeat padding-box;
}

#container-img .whatsapp {
    top: 82px;
    left: 86px;
    width: 54px;
    height: 54px;
    background: transparent 0% 0% no-repeat padding-box;
    position: absolute;
    background-color: #FDBD03;
    border-radius: 50%;
    background-size: 100%;
    padding: 10px;
}

#container-content {
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    margin-top: 25vh;
    margin-left: calc(35em + 10px);
    width: 25vw;
}

#container-content>h2 {
    width: 308px;
    height: 97px;
    text-align: right;
    font: normal normal 900 60px/87px Heebo;
    letter-spacing: 0px;
    color: #FDBD03;
}

#container-content>p {
    width: 385px;
    height: 58px;
    text-align: right;
    font: normal normal normal 20px/29px Heebo;
    letter-spacing: 0px;
    color: #020253;
}

#form {
    position: absolute;
    top: 434px;
    left: 183px;
    width: 855px;
    height: 258px;
    direction: rtl;
}

.form-control {
    width: 100%;
    height: 50px;
    text-align: right;
    font: normal normal bold 16px/24px Heebo;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.form-control>.fc2 {
    width: 100%;
    display: flex;
    direction: rtl;
}

.form-control .fc3 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-control input {
    width: 99%;
    height: 50px;
    background: #E5EEFF 0% 0% no-repeat padding-box;
    border: 0;
    border-bottom: 4px solid #FDBD03;
    text-align: right;
}

.form-control textarea {
    top: 549px;
    left: 183px;
    width: 854px;
    height: 143px;
    background: #E5EEFF 0% 0% no-repeat padding-box;
    border: 0;
    border-bottom: 4px solid #FDBD03;
}

.form-control input[type=submit] {
    width: 166px;
    height: 50px;
    background: #FDBD03 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal bold 22px/30px Heebo;
    letter-spacing: 0.33px;
    color: #000000;
}